# Assignment 2
* In this assignment you will be working with three data files from iMDB:
    * cast.csv
    * release_dates.csv
    * titles.csv
* Using the appropriate file(s), answer the following questions
* Some questions can be completed with one-liners while others are a bit more involved
* Where appropriate, answers should also provide brief commentary
* Exclude data that doen't make senss, i.e. data from the future
* Once complete upload this notebook to your classwork Github repo and post the link on Canvas

### 1. Conduct a high level assessment of the three data files, i.e. how many records are there, what kind of data, etc. Summarize your findings with annotation.

### 2. How many movies have the title North by Northwest

### 3. How many version of Hamlet are there, when was the first made? the last?

### 4. List all the movies called Treasure Island from oldest to newest

### 5. How many movies were made in 1950? 1980? 2000? What conclusions can you draw from these data points?

### 6. How big was the cast of Metropolis

### 7. How many roles for actors were there 1950's? 1990's

### 8. How many roles for actors & actresses over time? Output should be a line graph

### 9. How many "leading roles" were there in the 2000's?

### 10. How many roles received no ranking in the 2000's? 1950's. What conclusions can you draw from these two data points?

### 11. Plot the number of films made in each decade

### 12. Plot the number of films with a Rustler character over time

### 13. What are the top ten character names of all time?

### 14. Which actor appeared in the most films in the 1990's decade?

### 15. What are the top 10 roles that start with Science?

### 16. What film has the largest cast

### 17. Generate descriptive statistics for cast size. Briefly comment on the results

### 18. How many films has Natalie Portman been in in each year throughout her career?

### 19. How many films did Natalie Portman appear in each year where where she was either the top star or co-star?

### 20. Determine how many roles for actor or actress by decade. Plot the output

### 21. Determine and comment on the day of the week that movies are released. What is notable about release days and months throughout the year? (Use pd.pivot_table)

### 22. Can you plot the pivot table? Is the output "correct"? Can you fix it?

### 23. What films did actors in Star Wars go on to appear in?